$btn_main_color: #fff;
// player progress color
$player_progress_color: red;
$progress_point_size: 13px;
$progress_normal_height: 3px;
$progress_active_height: 5px;
$buffered_color: rgba(255,255,255,.4);
$control_progress_wrap_color: rgba(255, 255, 255, 0.2) ;
// When the mouse into the progress bar, the progress bar shows the color
$control_progress_visual_color: rgba(0,0,0,0);
$ads_color: yellow;
$control_text_color: #eee;
$video_status_btn: 40px;
$control_btn_color: $btn_main_color;
$control_btn_play_status: $btn_main_color;
$control_volume_progress_color: $btn_main_color;
$control_volume_drag_point_color: $btn_main_color;
