@import "config";
@import "spinner";
// reset
html, body, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
i,em,strong {
  font-style: normal;
}
button {
  background: none;
  border: none;
  outline: none;
}
button:active, button:focus{
  border: none;
}
li{
  list-style: none;
}

@mixin flex{
  display: flex;
}

// video
.video {
  min-height: 200px;
  min-width: 200px;
  width: 80%;
  background: #000;
  overflow: hidden;
  position: relative;
  .video-status-btn {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    padding: 5px;
    height: $video_status_btn;
    width: $video_status_btn;
    border-radius: $video_status_btn;
    opacity: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, .5);
    svg {
     display: none;
    }
  }
  video{
    width: 100%;
  }
}
.control {
  position: absolute;
  bottom: 1px;
  z-index: 1000;
  width: 100%;
  transition: all 0.7s;
  // background: transparent;
 // background-color: rgba(0,0,0,0.8);
   background-color: rgba(0,0,0,0);
  .progress-visual-hover {
    height: 16px;
    width: 100%;
    padding-top: 13px;
    &:hover {
      cursor: pointer;
    }
  }
  &:hover {
    cursor: pointer;
  }
  &:hover .progress{
    //height: $progress_active_height;
    transform: scaleY(1.5);
    box-sizing: border-box;
  }
  &:hover .point{
    opacity: 1 !important;
    transform: scaleY(0.67);
  }
  .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 99%;
    right: 0;
    margin: auto;
    background-color: $control_progress_wrap_color;
    //transition: all .4s;
    height: $progress_normal_height;
    //pointer-events: none;
    .hover-wrap {
      height: 100%;
      width: 0;
      position: absolute;
      left: 0;
      background-color: rgba(255, 255, 255, 0.5);
    }

    .buffered-progress {
      background: $buffered_color;
      width: 0;
      height: 100%;
      .inner{
        position: relative;
        background: $player_color;
        width: 0;
        height: 100%;
        .point {
          opacity: 0;
          position: absolute;
          //transition: all .7s;
          top:0;
          bottom: 0;
          z-index: 300;
          left: 0;
          margin: auto;
          background: $player_color;
          width: $progress_point_size;
          height: $progress_point_size;
          border-radius: $progress_point_size;
        }
        .yellow-point {
          height: 100%;
          width: 7px;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          background: $ads_color;
          z-index: 101;
        }
      }

    }
  }
  .btns {
    ul{
      padding: 0 14px;
      @include flex;
      .control-left {
        flex: 1;
        display: flex;
      }
      .setting-wrap {
        &:hover {
          cursor: pointer;
        }
        position: relative;
          .speed-tag {
            position: absolute;
            z-index: 1000;
            right: -4px;
            top: 8px;
            width: 20px;
            height: 16px;
            line-height: 16px;
            text-align: center;
            box-sizing: border-box;
            font-size: 10px;
            color: #fff;
            transform: scale(0.7);
            border-radius: 2px;
            background-color: #f00;
          }
      }
      li {
        span {
          font-size: 12px;
          color: #fff;
          line-height: 40px;
          font-weight: normal;
        }
        .player-btn, .volume-btn{
          height: 100%;
          width: 36px;
          margin-right: 3px;
          button {
            height: 100%;
          }
          svg {
            fill: #fff;
          }
        }

        .setting-btn, .movie-btn, .fullscreen, .next-btn {
          height: 100%;
          width: 36px;
          transition: transform .5s;
          svg {
            fill: #fff;
          }
        }
        .fullscreen {
          &:hover {
            transform: scale(1.1);
          }
        }
        .setting-menu {
          display: none;
          position: absolute;
          bottom: 50px;
          right: -40px;
          width: 189px;
          height: auto;
          transition: all .5s;
          border-radius: 3px;
          background-color: rgba(28, 28, 28, 0.9);
          &>div {
            display: flex;
            padding: 10px;
            height: 33px;
            font-size: 14px;
            &:hover {
              background-color: rgba(255,255,255,.1);
              cursor: pointer;
            }
            p {
              font-size: 12px;
              color: #fff;
              flex: 1;
            }
            &>p:nth-of-type(1){
              text-align: left;
            }
            &>p:nth-of-type(2) {
              text-align: right;
              i {
                font-weight: 600;
              }
            }
          }
        }
        .speed-menu {
          display: none;
          position: absolute;
          right: -30px;
          width: 99px;
          height: 290px;
          border-radius: 3px;
          background-color: rgba(28, 28, 28, 0.9);
          bottom: 50px;

          p {
            &:hover {
              background-color: rgba(255, 255, 255, .1);
              cursor: pointer;
            }
            height: 33px;
            text-align: center;
            color: #fff;
            line-height: 33px;
            font-size: 12px;
          }
          &>p:nth-of-type(1) {
            border-bottom: .5px solid rgb(238, 238, 238);;
            height: 46px;
            line-height: 46px;
          }
        }
      }
      .volume-control {
        height: 100%;
        width: 0;
        padding-top: 18px;
        margin-right: 10px;
        transition: all 1s;
        opacity: 0;
        .volume-out {
          width: 100%;
          height: 3px;
          background-color: rgba(255,255,255,.2);
          .volume-inner {
            background: #fff;
            width: 10px;
            height: 100%;
            position: relative;
            .volume-point {
              position: absolute;
              top: 0;
              left: 0;
              bottom: 0;
              margin: auto;
              width: 9px;
              height: 9px;
              border-radius: 9px;
              background: #fff;
              z-index: 3;

            }
          }
        }
      }
    }
  }
}
.video-full {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  //background: url(polina.jpg) no-repeat;
  background-size: cover;
}

//full screen
* { box-sizing: border-box; }
.video-background {
  background: #000;
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  .video-foreground,
  .video{
    // lock screen
    video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  }

}


//refer https://codepen.io/dudleystorey/pen/PZyMrd
// todo:// usefule ?
//@media (min-aspect-ratio: 16/9) {
//  .video-foreground { height: 300%; top: -100%; }
//}
//@media (max-aspect-ratio: 16/9) {
//  .video-foreground { width: 300%; left: -100%; }
//}
//@media all and (max-width: 600px) {
//  .vid-info { width: 50%; padding: .5rem; }
//  .vid-info h1 { margin-bottom: .2rem; }
//}
//@media all and (max-width: 500px) {
//  .vid-info .acronym { display: none; }
//}
